<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>


<div class="row">
    <div class="col">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>{{name2}}</td>
                    <td>capitalizado</td>
                    <td>{{name2 | capitalize}}</td>
                </tr>

                <tr>
                    <td>{{name}}</td>
                    <td>uppercase</td>
                    <td>{{name | uppercase}}</td>
                </tr>

                <tr>
                    <td>{{name}}</td>
                    <td>lowercase</td>
                    <td>{{name | lowercase}}</td>
                </tr>

                <tr>
                    <td>{{name}}</td>
                    <td>slice: 3</td>
                    <td>{{name | slice:3}}</td>
                </tr>

                <tr>
                    <td>{{name}}</td>
                    <td>slice: 0:3</td>
                    <td>{{name | slice:0:3}}</td>
                </tr>

                <tr>
                    <td>{{arr}}</td>
                    <td>slice: 1:5</td>
                    <td>{{arr | slice:1:5}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number:'3.0-0</td>
                    <td>{{PI | number: '3.0-0'}}</td>
                </tr>

                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI | number: '.0-2'}}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje| percent}}</td>
                </tr>

                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje| percent:'2.2-2'}}</td>
                </tr>

                <tr>
                    <td>{{salary}}</td>
                    <td>currency</td>
                    <td>{{salary| currency}}</td>
                </tr>

                <tr>
                    <td>{{salary}}</td>
                    <td>currency: 'EUR'</td>
                    <td>{{salary| currency:'EUR'}}</td>
                </tr>

                <tr>
                    <td>{{salary}}</td>
                    <td>currency:'CAD':'symbol-narrow':'.0-0'</td>
                    <td>{{salary| currency:'CAD':'symbol-narrow':'.0-0'}}</td>
                </tr>

                <tr>
                    <td>{{valuePromise}}</td>
                    <td>async</td>
                    <td>{{valuePromise | async}}</td>
                </tr>

                <tr>
                    <td>{{date}}</td>
                    <td>date</td>
                    <td>{{date | date}}</td>
                </tr>

                <tr>
                    <td>{{date}}</td>
                    <td>date:'medium'</td>
                    <td>{{date | date:'medium'}}</td>
                </tr>

                <tr>
                    <td>{{date}}</td>
                    <td>date:'short'</td>
                    <td>{{date | date:'short'}}</td>
                </tr>

                <tr>
                    <td>{{date}}</td>
                    <td>date:'MMMM-dd'</td>
                    <td>{{date | date:'MMMM-dd'}}</td>
                </tr>

                <tr>
                    <td>{{date}}</td>
                    <td>date:'MMMM-dd' : '' : '{{languague}}'
                        <br>
                        <button (click)="changeLanguague('es')" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="changeLanguague('en')" class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="changeLanguague('fr')" class="mr-1 btn btn-success">Francés</button>
                    </td>
                    <td>{{date | date:'MMMM-dd' : '' : languague}}</td>
                </tr>

            </tbody>

        </table>
        <!-- 
        <h4>Slice</h4>

        <ul>
            <li *ngFor="let item of arr | slice:5:20"> {{item}} </li>
        </ul> -->

        <h3>JSON</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>
                    {{album | json}}
                </pre>
            </div>
        </div>

    </div>
</div>